<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hello Houston</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Front-end</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Back-end</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hosting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DB design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Design tool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Editor</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
    <%# MENU %>
    
    
    <%# BANNER %>
   

    <div class="banner-home">
        <div class="container">
            <h1>Hello Houston Coding</h1> 
            <p>Find all the ingredients you need to code</p>
            <a class="btn btn-home" href="#">Start</a>
        </div>  
    </div>
 
    
    
    
    <%# CARDS %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Front-end</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Back-end</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Github</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Host</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>DB design</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>design tool</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="box-home">
                    <p>Editor</p>
                </div>
            </div>
            </div>
        </div>
    </div>



<%# FOOTER %>
    <div  class="footer-all">
        <p>FOOTER</p>
    </div>
        
</html>

