

// HOME
.btn-home {
    color: white !important;
    padding: 8px 24px !important;
    border-radius: 4px !important;
    background: #1EDD88 !important;
    transition: background 0.3s ease !important;
    font-size: 20px !important;
}